{% extends 'base.html' %}
{% load static %}
{% block content %}
   <div class="container mt-5 d-flex justify-content-center">

                <div class="card p-3 w-50">

                    <div class="d-flex align-items-center">

                        <div class="image p-2">
                    <img src="{% static 'img/default_user.jpg' %}" class="rounded" width="155" >
                    </div>

                    <div class="ml-3 w-100">

                       <h4 class="mb-0 mt-0">{{ user.username }}</h4>
                       <span>Активный</span>

                       <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">

                        <div class="d-flex flex-column">

                            <span class="articles">Заказы</span>
                            <span class="number1 "> 38</span>

                        </div>

                        <div class="d-flex flex-column">

                            <span class="followers">Лайки</span>
                            <span class="number2">980</span>

                        </div>


                        <div class="d-flex flex-column">

                            <span class="rating">Рейтиинг</span>
                            <span class="number3">8.9</span>

                        </div>

                       </div>


                       <div class="button mt-2 d-flex flex-row align-items-center">
                        <button class="btn btn-sm btn-outline-primary w-100" onclick="location.href=''">Сменить пароль</button>
                        <button class="btn btn-sm btn-primary w-100 ml-2" onclick="location.href='{% url 'account:logout' %}?next=/web/profile'">Выйти</button>
                        <button class="btn btn-sm btn-primary w-100 ml-2" onclick="location.href='{% url 'account:check_token' %}'">Проверить загрузку</button>
                        <div> {{check_result}}</div>


                       </div>


                    </div>


                    </div>

                    <h4>Компании</h4>
                    <ul>
                        {% for company in companies %}
                        <li>
                            <p> <a href ="{{company.get_absolute_url}}"> Компания {{company}} </a> </p>

                        </li>
                       {% endfor%}
                    </ul>
                    <div class="button mt-2 d-flex flex-row align-items-center">
                        <button class="btn btn-sm btn-outline-primary w-100" onclick="location.href='{% url 'companies:add_company' %}'">Создать компанию</button>
                    </div>

                    <h4>Заказы</h4>
                    <ul>
                         {% for o in orders %}
                           <li>
                               <p> <a href ="{{o.get_absolute_url}}"> Заказ {{o.pk }} </a> от {{o.date|date:"d.m.Y"}} </p>
                               <p><a href ="{{o.company.get_absolute_url}}">Компания: {{o.company }} </a></p>
                               <p>Номер: {{o.number }}</p>
                               <p>UID: {{o.UID }}</p>
                           </li>
                         {% endfor%}
                    </ul>
                    <div class="button mt-2 d-flex flex-row align-items-center">
                        <button class="btn btn-sm btn-outline-primary w-100" onclick="location.href='{% url 'orders:order_add' %}'">Создать заказ</button>
                    </div>

                </div>

   </div>

<div class="container justify-content-center">
    <div class="container">

         </div>
   </div>
{% endblock %}