{% extends 'base.html' %}
{% load static %}
{% block content %}
   <div class="container justify-content-center">
   <h1>Заказы: {{request.user}}</h1>
         <div class="container">
            <ul>
               {% for o in orders %}
               <li>
                   <p> <a href ="{{o.get_absolute_url}}"> Заказ {{o.pk }} </a> от {{o.date|date:"d.m.Y"}} </p>
                   <p>Компания: {{o.company }}</p>
                   <p>Номер: {{o.number }}</p>
                   <p>UID: {{o.UID }}</p>
               </li>
               {% endfor%}
            </ul>
            <div class="button mt-2 d-flex flex-row align-items-center">
                <button class="btn btn-sm btn-outline-primary w-100" onclick="location.href='{% url 'orders:add_order' %}'">Создать заказ</button>
            </div>
         </div>
   </div>
{% endblock %}