{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container content bg-dark text-white">
        <div class="text-center">
            <img src="{% static 'img/labbs_logo.png' %}">
            <br>
            <h2 class="text-center">Добро пожаловать в Labbs!</h2>
            <br>

            <a href="{% url 'account:login' %}" class="btn btn-info">Войти</a>
            <a href="{% url 'account:register' %}" class="btn btn-primary">Регистрация</a>
        </div>
    </div>
{% endblock %}