{% extends 'base.html' %}
{% load static %}
{% block content %}
   <!-- Begin Page Content -->
<div class="container-fluid" xmlns="http://www.w3.org/1999/html">

    <div class="main-body">

<!--          &lt;!&ndash; Breadcrumb &ndash;&gt;-->
<!--          <nav aria-label="breadcrumb" class="main-breadcrumb">-->
<!--            <ol class="breadcrumb">-->
<!--              <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Дашборд</a></li>-->
<!--              <li class="breadcrumb-item">{{user.first_name}} {{user.last_name}}</li>-->
<!--              <li class="breadcrumb-item active" aria-current="page">Профиль</li>-->
<!--            </ol>-->
<!--          </nav>-->
<!--          &lt;!&ndash; /Breadcrumb &ndash;&gt;-->

          <div class="row gutters-sm">

            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Наименование</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{company.name}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Город</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                     {{company.city}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Владелец</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{company.owner}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Тип</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{company.type}}
                    </div>
                  </div>
                  <hr>

                  <div class="row">
                    <div class="col-sm-12">
                      <a class="btn btn-info" href="{% url 'crm:company_update' company.pk %}">Изменить</a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row gutters-sm">
                <div class="col-sm-6 mb-3">
                  <div class="card h-100">
                    <div class="card-body">
                      <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">Последние</i>заказы</h6>
                       {% for o in orders %}
                      <small><a href ="{{o.get_absolute_url}}"> Заказ {{o.pk }} </a> от {{o.date|date:"d.m.Y"}}</small>
                      <br>
<!--                      <div class="progress mb-3" style="height: 5px">-->
<!--                        <div class="progress-bar bg-primary" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>-->
<!--                      </div>-->
                      {% endfor%}
                    </div>
                    <div class="button mt-2 d-flex flex-row align-items-center">
                        <button class="btn btn-sm btn-outline-primary w-100" onclick="location.href='{% url 'crm:order_create' %}'">Создать заказ</button>
                    </div>
                  </div>
                </div>

                <div class="col-sm-6 mb-3">
                  <div class="card h-100">
                    <div class="card-body">
                      <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">Прайс </i>лист</h6>
                      {% for p in pricelists %}
                        <small><a href ="{{p.get_absolute_url}}"> Прайс {{p.pk }} </a> от {{p.date|date:"d.m.Y"}}</small>
                        </br>
                      {% endfor%}
<!--                      <div class="progress mb-3" style="height: 5px">-->
<!--                        <div class="progress-bar bg-primary" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>-->
<!--                      </div>-->

                    </div>
                    <div class="button mt-2 d-flex flex-row align-items-center">
                        <button class="btn btn-sm btn-outline-primary w-100" onclick="location.href='{% url 'crm:pricelist_create' %}'">Создать прайс</button>
                    </div>
                  </div>
                </div>
              </div>



            </div>
          </div>

        </div>
    </div>



{% endblock %}