{% extends 'base.html' %}
{% load static %}
{% block content %}
   <div class="container justify-content-center">
   <h1>Заказы: {{request.user}}</h1>
         <div class="container">
            <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                <thead>
                    <tr>
                      <th class="th-sm">Заказ
                      </th>
                      <th class="th-sm">Дата
                      </th>
                      <th class="th-sm">Компания
                      </th>
                      <th class="th-sm">Номер
                      </th>
                      <th class="th-sm">Изменить
                      </th>
                    </tr>
                </thead>
                <tbody>
                    {% for o in orders %}
                    <tr>
                        <td><a href ="{{o.get_absolute_url}}"> Заказ {{o.pk }} </a> </td>
                        <td>{{o.date|date:"d.m.Y"}}</td>
                        <td>{{o.company }}</td>
                        <td>{{o.number }}</td>
                        <td><a href ="{% url 'orders:order_update' pk=o.pk %}">Изменить</a></td>
                    </tr>
                    {% endfor%}
                </tbody>
            </table>
            <div class="button mt-2 d-flex flex-row align-items-center">
                <button class="btn btn-sm btn-outline-primary w-100" onclick="location.href='{% url 'crm:order_add' %}'">Создать заказ</button>
            </div>
         </div>
   </div>
{% endblock %}