{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags  %}

   <div class="container justify-content-center">
   <h2>{{title }}</h2>
        <div class="container">

            <form  method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                {{ file_form | crispy }}

                <h2>Заказанные изделия</h2>
                 <table class="table table-bordered" id="ordered-products-table">
                    <thead>
                      <tr>
                        <th>Изделие</th>
                        <th>Количество</th>
                      </tr>
                    </thead>
                    <tbody>
                      {{ ordered_product_formset.management_form }}
                      {% for form in ordered_product_formset %}
                        <tr class="ordered-product-form">
                          <td>{{ form.product }}</td>
                          <td>{{ form.amount }}</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
             <button type="button" id="add-ordered-product-btn">Добавить изделие</button>
             <button type="submit" class="btn btn-success btn-block">Создать</button>
            </form>
        </div>
   </div>



 <script>
    const orderedProductForm = '{{ ordered_product_formset.empty_form|escapejs }}';
    const orderedProductTable = document.getElementById('ordered-products-table');
    const addOrderedProductBtn = document.getElementById('add-ordered-product-btn');
    let orderedProductFormCount = {{ ordered_product_formset|length }};

    addOrderedProductBtn.addEventListener('click', () => {
      const row = document.createElement('tr');
      row.classList.add('ordered-product-form');
      row.innerHTML = orderedProductForm.replace(/__prefix__/g, orderedProductFormCount);
      orderedProductTable.querySelector('tbody').appendChild(row);
      orderedProductFormCount++;
    });
  </script>
{% endblock %}