pricelist.html{% extends 'base.html' %}
{% load static %}
{% block content %}
   <!-- Begin Page Content -->
    <div class="container-fluid">

    <div class="main-body">

<!--          &lt;!&ndash; Breadcrumb &ndash;&gt;-->
<!--          <nav aria-label="breadcrumb" class="main-breadcrumb">-->
<!--            <ol class="breadcrumb">-->
<!--              <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Дашборд</a></li>-->
<!--              <li class="breadcrumb-item">{{user.first_name}} {{user.last_name}}</li>-->
<!--              <li class="breadcrumb-item active" aria-current="page">Профиль</li>-->
<!--            </ol>-->
<!--          </nav>-->
<!--          &lt;!&ndash; /Breadcrumb &ndash;&gt;-->

          <div class="row gutters-sm">

            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Номер</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{pricelist.number}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Компания</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                     {{pricelist.company}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Дата</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{pricelist.date}}
                    </div>
                  </div>
                  <hr>


                  <div class="row">
                    <div class="col-sm-12">
                      <a class="btn btn-info" href="{% url 'crm:pricelist_update' pricelist.pk %}">Изменить</a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row gutters-sm">
                <div class="col-sm-6 mb-3">
                  <div class="card h-100">
                    <div class="card-body">
                      <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">Изделия </i>прайса</h6>
                       {% for p in products %}
                      <small><a href ="{{p.get_absolute_url}}"> {{p.name }} </a> </small>
                      <br>
<!--                      <div class="progress mb-3" style="height: 5px">-->
<!--                        <div class="progress-bar bg-primary" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>-->
<!--                      </div>-->
                      {% endfor%}
                    </div>
                    <div class="button mt-2 d-flex flex-row align-items-center">
                        <button class="btn btn-sm btn-outline-primary w-100" onclick="location.href='{% url 'crm:product_create' %}'">Добавить изделие</button>
                    </div>
                  </div>
                </div>

                <div class="col-sm-6 mb-3">
                  <div class="card h-100">
                    <div class="card-body">
                      <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">Место </i>для рекламы</h6>

                      <small>Реклама </small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>



            </div>
          </div>

        </div>
    </div>



{% endblock %}