{% extends 'base.html' %}
{% load static %}
{% block content %}
   <!-- Begin Page Content -->
    <div class="container-fluid">

    <div class="main-body">

<!--          &lt;!&ndash; Breadcrumb &ndash;&gt;-->
<!--          <nav aria-label="breadcrumb" class="main-breadcrumb">-->
<!--            <ol class="breadcrumb">-->
<!--              <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Дашборд</a></li>-->
<!--              <li class="breadcrumb-item">{{user.first_name}} {{user.last_name}}</li>-->
<!--              <li class="breadcrumb-item active" aria-current="page">Профиль</li>-->
<!--            </ol>-->
<!--          </nav>-->
<!--          &lt;!&ndash; /Breadcrumb &ndash;&gt;-->

          <div class="row gutters-sm">

            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Наименование</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{product.name}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Код</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                     {{product.code}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Прайс</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{product.pricelist}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Группа</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{product.group}}
                    </div>
                  </div>
                  <hr>

                   <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Стоимость</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{product.price}}
                    </div>
                  </div>
                  <hr>

                  <div class="row">
                    <div class="col-sm-12">
                      <a class="btn btn-info" href="{% url 'crm:product_update' product.pk %}">Изменить</a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row gutters-sm">
                <div class="col-sm-6 mb-3">
                  <div class="card h-100">
                    <div class="card-body">
                      <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">Группы</i>изделий</h6>
<!--                       {% for o in orders %}-->
<!--                      <small><a href ="{{o.get_absolute_url}}"> Заказ {{o.pk }} </a> от {{o.date|date:"d.m.Y"}}</small>-->
<!--                      <br>-->
<!--&lt;!&ndash;                      <div class="progress mb-3" style="height: 5px">&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="progress-bar bg-primary" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>&ndash;&gt;-->
<!--&lt;!&ndash;                      </div>&ndash;&gt;-->
<!--                      {% endfor%}-->
                    </div>
                  </div>
                </div>

                <div class="col-sm-6 mb-3">
                  <div class="card h-100">
                    <div class="card-body">
                      <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">Место </i>для рекламы</h6>

                      <small>Реклама </small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>



            </div>
          </div>

        </div>
    </div>



{% endblock %}