{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags  %}

   <div class="container justify-content-center">
   <h2>{{title }}</h2>
        <div class="container">
<!--            <form action="{% url 'orders:add_order' %}" method="post" enctype="multipart/form-data">-->
            <form  method="post" >
                {% csrf_token %}
                {% crispy form helper %}
                {% crispy file_form helper %}

            </form>
        </div>
   </div>
{% endblock %}